

	<div class="limiter">
		<div class="container-login100 bgm" >
			<div class="wrap-login100" style="padding-top:20px;">
				<img src="../images/drishyam.png" style="width:250px;height:150px;text-align: center;margin-left: 25px;" ></img>
					<span class="login100-form-title p-b-26">
						Sign Up
					</span>


					<form class="login100-form validate-form" ng-submit="signup(item)">

						 <br>
						 <!-- <button  type="submit" class="btn btn-primary">Upload</button> -->

						 <div ng-show="uploading" class="progress">
					                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					                    <span class="sr-only">45% Complete</span>
					                </div>
                                </div>
								
							<span> Email</span>
								
					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="email" name="email" ng-model="item.email" required>
						<!-- <span class="focus-input100" data-placeholder="Email"></span> -->

					</div>

					<div class="wrap-input100 validate-input">
					<span>Password</span>
						<input class="input100" type="password" name="pass" ng-model="item.pass" minlength="8" required>
					</div>



					<div ng-show="message">
				                <div ng-class="alert">{{ message }}</div>
				   </div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button ng-disabled="uploading" class="login100-form-btn" type="submit">
								Sign Up
							</button>
						</div>
					</div>
				</form>
				<div class="text-center p-t-30">
					<span class="txt1">
						Already have an account?
					</span>
					<a class="txt2" href="#/login">
					Login
					</a>
				</div>

			</div>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
